$white: #fff9df;
$red: #8a220c;
$blue: #434d6f;
$orange: #ca591f;
$gray: #efefee;

$content-width: 960px;
$content-padding: 10px;

$caption-copy: "PT Sans Caption", sans-serif;
$title-copy: "Lobster", cursive;
$body-copy: "PT Sans", sans-serif;

$img-path: "../images/";

$base-size: 16;
@mixin pseudo-base($height) {
    content: "";
    display: block;
    height: $height;
    background-repeat: no-repeat;
    position: relative;
}