.footer h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: $red;
	text-align: center;
		margin-bottom: 30px;
}

.footer h2 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.5em;
	color: #434d6f;
	font-family: "Lobster", Georgia, serif;
}

.rent-list {
width: 590px;
padding-right: 20px;
float: left;
padding-left: 10px;
}

.topfooter {

}

// .rent-list .way {
// float: left;
// width: 500px;
// margin-bottom: 30px;
// margin-left: 10px;
// }

.rents-list img {
float: left;
display: block;
width: 45px;
}