.footer h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: $red;
	text-align: center;
		margin-bottom: 30px;
}

.footer h2 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.5em;
	color: #434d6f;
	font-family: "Lobster", Georgia, serif;
}

.rent-list {
	padding-right: 20px;
	padding-left: 10px;
}

.footer {
	.item {
		display: inline-block;
		width: 49%;
		vertical-align: top;
		margin-bottom: 20px;
		img {
			display: block;
			float: left;
		}

		.way {
			padding-left: 70px;
			vertical-align: top;
		}
	}

	.tab-pane {
		min-height: 520px;
	}

}

.reasons {
	color: #ca591f;
	font-weight: bold;
}


.callus {
	text-align: center;
	font-weight: bold;
	color: $blue;
}

.ourphone {
	text-align: center;
	font-weight: bold;
	color: $red;

}

.foot-nav {
	background: url(#{$img-path}/footer/bg.png) repeat-x;
	height: 145px;
	background-color: transparent;
	top: -10px;
	width: 960px;
	margin: 0 10px;
	padding: 0;
	border: none;

	img {
		display: inline-block;
	}
	ul {
		padding: 0 60px;
		text-align: justify;

		li {
			display: inline-block;
			vertical-align: top;
			float: none;

			a {
				display: inline-block;
				width: 147px;
				height: 124px;				

				text-align: center;
				vertical-align: top;
				font-variant: small-caps;
				font-weight: bold;
			}


			.alternative {
				display: none;
			}

		}

		.active {
			a {
				display: none;
			}

			.alternative {
				display: inline-block; 
			}
		}

	}

	ul:after {
		width: 100%;
		content: "";
		display: inline-block;
	}
}

address {
	padding: 0 20px 0 90px;

	iframe {
		margin-top: 20px;
	}
}

.common-address {
	font-weight: bold;
	margin-bottom: 3em;
}

.office1 {
	float: left;
}

.office2 {
	float: right;
}
