form {

	padding: 10px;
	input, select, textarea {
		display: block;
		width: 100%;		
	}

	.input-group {
		line-height: 2em;
	}

	.md-close, .submit-button {
		width: 40%;
		height: 3em;
		border: none;
		background: none;
		font-size: 1em;
		background-color: rgba(0,0,0,0.3);
		color: white;
		display: inline-block;
	}
	.form-controls {
		width: 100%;
		margin-top: 5%;
		text-align: justify;
	}

	.form-controls:after {
		display: inline-block;
		width: 100%;
		content: "";
	}

}

.error-panel {
	padding: 0 !important;
	background-color: yellow;
	color: black;
	width: 100%;
	display: inline-block;
	line-height: 2em;
	display: none;
}
