$img-video-path: #{$img-path}/video;

section.video {
	padding-top: 25px;
	padding-bottom: 180px;
}

.video-lady {
	margin-left: 10px;

}

.lady-speech {
	width: 466px;
	height: 128px;
	position: absolute;
	left: 324px;
	top: 31px;
	background-image: url(#{$img-video-path}/lady-speech.png);

	p {
		text-align: center;
		margin-top: 0.5em;
		font-size: 1.5em;
		color: $blue;
	}
}

.videos {
	position: absolute;

	right: 35px;
	top: 250px;
	img {
		margin-bottom: 23px;
	}
}
